.ui-header {
  .ui-toolbar {
    padding: 8px 16px;
  }
}

.ui-list {
  .ui-searchbar {
    --padding-bottom: 0;
    --padding-top: 0;
  }
}

.ui-item {
  --padding-start: 16px;
  --padding-end: 16px;

  .ui-label {
    h3 {
      font-weight: 600;
      margin-bottom: 4px;
    }

    p {
      font-size: 0.9em;
      color: var(--app-color-medium);
      margin: 0;
    }

    small {
      color: var(--app-color-medium);
      font-size: 0.85em;
    }
  }
}
