<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: small;">
      Επιλέξτε τραπέζι μεταφοράς
    </ion-title>
    <ion-buttons slot="end">
  <ion-button size="large" (click)="close()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <!-- List 1: Tables -->
  <ion-list  [inset]="true">
    <!-- Predefined tables -->
    <ion-item-group>
      <ion-item-divider *ngIf="customTablesList.length > 0">
        <ion-label>Predefined Tables</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let table of predefinedTablesList" 
                 (click)="onSelectTable(table)">
        <ion-label>{{ table.name }}</ion-label>
      </ion-item>
    </ion-item-group>

    <!-- Custom tables -->
    <ion-item-group *ngIf="customTablesList.length > 0">
      <ion-item-divider>
        <ion-label>Custom Tables</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let table of customTablesList" 
                 (click)="onSelectTable(table)">
        <ion-label>{{ table.displayName || table.name }}</ion-label>
      </ion-item>
    </ion-item-group>
