<ion-header>
  <ion-toolbar>
    <ion-title>Επιλέξτε τραπέζι μεταφοράς</ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <app-table-grid
    [customTables]="customTables"
    [activity]="activity"
    [disabledTable]="table"
    (tableSelected)="onSelectTable($event)">
  </app-table-grid>
</ion-content>
