<ion-header>
  <ion-toolbar>
    <ion-title>
      Table {{ table }}
      <ion-text
        *ngIf="totalPrice"
        color="medium"
        style="display: block; font-size: 0.9em; margin-top: 4px"
      >
        Total: {{ totalPrice | currency : "EUR" : "symbol" }}
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
  <ion-button size="small" (click)="moveTable()">
    <ion-icon name="swap-horizontal-outline"></ion-icon>
    Move
  </ion-button>
  <ion-button size="large" (click)="close()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems; let i = index">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>Τιμή: {{ item.price | number : "1.2-2" }} €</p>
        <p *ngIf="item.coffeeSize">Coffee Size: {{ item.coffeeSize }}</p>
        <p *ngIf="item.coffeePreference">
          Προτίμηση: {{ item.coffeePreference }}
        </p>
        <p *ngIf="item.extras?.length">
          Extras:
          <ng-container *ngFor="let extra of item.extras; let i = index">
            {{ extra.name }}<span *ngIf="i < item.extras.length - 1">, </span>
          </ng-container>
        </p>
        <p *ngIf="item.comments">Comments: {{ item.comments }}</p>
      </ion-label>

      <div slot="end" style="display: flex; flex-direction: column; gap: 4px;">
        <ion-button
          size="small"
          color="secondary"
          (click)="duplicateItem(item)"
        >
          <ion-icon slot="start" name="copy-outline"></ion-icon>
          Duplicate
        </ion-button>
        <ion-button
          size="small"
          color="primary"
          (click)="editItem(item, item.category, i)"
        >
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Edit
        </ion-button>
        <ion-button size="small" color="danger" (click)="deleteItem(i)">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Delete
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      (click)="submit()"
    >
      Εκτύπωση
    </ion-button>
  </ion-toolbar>
</ion-footer>
